.list-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.list-toolbar__button-group {
  display: flex;
}

.list-toolbar__button {
  margin-right: 4px;
}

.list-toolbar__search-field {
  width: 400px;
}
