.list-item--title {
  flex-basis: 400px;
}

.list-item--tags {
  flex-basis: 400px;
  margin-left: auto;
}

.list-item--add-tag-field {
  flex-basis: 200px;
}

.list-item--add-tag-button {
  flex-basis: 50;
}

.list-item {
  background: #e8e8e8;
  margin-bottom: 12px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-item--name {
  font-weight: 600;
}

.list-item--add-tag-field {
  width: 200px;
  margin-right: 4px;
}

.list-item--tag {
  display: inline-flex;
  margin-right: 4px;
}

.list-item--tags {
  margin-right: 4px;
}
